rlcvalidator/src/main/resources/schema/routes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="Engine">
		<complexType>
			<sequence>
				<any processContents="lax" maxOccurs="unbounded" />
			</sequence>
			<anyAttribute processContents="lax" />
		</complexType>
	</element>
	<element name="Routes">
		<complexType>
			<sequence>
				<element name="Route" maxOccurs="1" minOccurs="1">
					<complexType mixed="true">
						<sequence>
							<any processContents="lax" minOccurs="0" maxOccurs="unbounded" />
						</sequence>
						<anyAttribute processContents="lax" />
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
</schema>